.dash-content{
    margin: 50 10 10 10;

    .no-data{
        vertical-align: center;
        text-align: center;
        height: 100%;
    }

    .list-content{
        padding: 10;
        
        .list-group-item{
            width: 85%;
            android-elevation: 3;
            background-color: #e6e1f1;
            color: rgb(97, 96, 96);
            margin: 10 0;
            border-radius: 5;
        
            Image{
                height: 150;
                border-top-left-radius: 5;
                border-top-right-radius: 5;
            }
        
            .item-details{
                margin: 3 5 5 5;
                font-family: "Roboto", "Roboto-Italic";
            }
        }
    }
}

.user{
    padding: 20 0 0 4;
}

.long-pressed{
    background-color: white;

    Button{
        background-color: transparent;
        color: #6d54a8;
        android-elevation: 0;
    }
}
