.tl-container{
    margin: 50 10 10 10;
}

.grid-content{
    margin: 3% 5%;

    .input-fields{
        margin-top: 25;
    }
}

.event-image{
    height: 40%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.browse{
    font-size: 100%;
}

#btnChoosePhoto{
    color: #493583;
}

.imgClose{
    color: #a894d8;
    font-size: 25;
    width: 50;
    height: 50;
    background-color: transparent;
    android-elevation: 0;
}